{% extends 'base.html' %}

{% block title %}Lista dei {{ object_list|length }} temi{% endblock %}

{% block content %}
  <div class="sfondo-verde">
    <div class="container">
      <div class="testata-interna"><h1>I 25 temi</h1></div>
    </div>
  </div>


  <div class="container">
    <div class="contenuto">
      <div class="tema">
        {% for object in object_list %}
        <div class="row-fluid">
          <div class="span1"><div class="tema-num"><strong>{{ object.ordine }}/</strong>25</div></div>
          <div class="span11">
            <h1><a href="{% url 'topic-detail' slug=object.slug %}">{{ object.testo_html|safe }}</a></h1>
          </div>
        </div>
        <br />
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}