{% extends 'base.html' %}
{% load labels %}
{% load humanize %}

{% block title %}{{ object.testo }} #{{ object.ordine }}{% endblock %}

{% block content %}
<div class="sfondo-verde">
  <div class="container">
    <div class="testata-interna"><h1>I 25 temi</h1></div>
  </div>
</div>

<div class="contenuto">
  <div class="container">
    <div class="row-fluid">
      <div class="span1">
        <div class="box-num-domande pull-right">
          Tema<br /><strong>{{ object.ordine }}/</strong>25<br />&nbsp;
        </div>
      </div>
      <div class="span8">
        <div class="domande">
          <h1>{{ object.testo_html|safe }}</h1>
          <div class="approfondimento">
            <p>{{ object.approfondimento_html|safe }}</p>
          </div>
          <ul class="pager">
            {% with q=object.prev_by_ordine %}
            <li{% if not q %} class="disabled"{% endif %}><a href="{% if not q %}#{% else %}{% url topic-detail slug=q.slug %}{% endif %}" class="navigapage">Precedente</a></li>
            {% endwith %}
            <li><a href="{% url topic-list %}" class="navigapage">Tutti i 25 temi</a></li>
            {% with q=object.next_by_ordine %}
            <li{% if not q %} class="disabled"{% endif %}><a href="{% if not q %}#{% else %}{% url topic-detail slug=q.slug %}{% endif %}" class="navigapage">Successivo</a></li>
            {% endwith %}
          </ul>
        </div>
      </div>
      <div class="span3">
          <div id="chart_div" style="width:280px; height:240px; margin: 36px 0 0 -30px"></div>
          <div class="chart-caption">
              <strong>La posizione dei nostri {{ tot|intcomma }} utenti sul tema</strong><br/>
              <a href="/faq#6">Le percentuali non sono statisticamente significative</a>
          </div>
       </div>
    </div>
  </div>
</div>


<div class="contenuto">
    <div class="container">
        <div class="row-fluid">
            <!-- parties positions table -->
            <div class="span6">
                <table class="table table-bordered table-rows" >
                    {% for risposta in object.risposte %}
                        <tr>
                            <td style="width: 60px;">{% immagine_partito risposta.partito size='small' %}</td>
                            <td style="vertical-align: middle; text-align: left">
                                <span class="label label-{% label_risposta risposta.risposta_int %}">
                                    {{ risposta.get_risposta_int_display }}
                                </span>
                            </td>
                            <td style="vertical-align: middle; border-left: 0">
                                {% if risposta.risposta_txt %}
                                    <a class="dropdown-toggle" style="cursor: pointer;"
                                       data-toggle="collapse" data-target="#commento-risposta-{{ risposta.pk }}">
                                        Leggi il commento della lista
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% if risposta.risposta_txt %}
                            <tr>
                                <td style="border-top:0"></td>
                                <td style="border-top:0" colspan="2">
                                    <div id="commento-risposta-{{ risposta.pk }}" class="collapse">
                                        {{ risposta.risposta_txt|default_if_none:'' }}
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            <!-- ongoing discussion column -->
            <div class="span6">
                <div id="disqus_thread"></div>
                    <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'vsqeuropee2014'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                   </script>
                   <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                   <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
                {% comment %}
                <script type="text/javascript">
                    var disqus_shortname = 'vsqeuropee2014';
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        function disqus_config() {
                            this.callbacks.afterRender = [function() {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = '{{ STATIC_URL }}js/disqus_it.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            }];
                        }
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                {% endcomment %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block header_scripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/humanize.min.js"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Posizione', 'Numero utenti'],
                ['Molto favorevole', {{ mfv }}],
                ['Favorevole', {{ fav }}],
                ['Tendenzialmente favorevole',  {{ tfv }}],
                ['Tendenzialmente contrario', {{ tcn }}],
                ['Contrario',    {{ con }}],
                ['Molto contrario',    {{ mcn }}]
            ]);

            var options = {
                is3D: true,
                legend: {position: 'none'},
                colors: [
                  '#006100', '#008300', '#6A9A00',
                  '#CA7500', '#D11D00', '#9A0000'
                ]
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}
{% block scripts %}{% endblock %}
