{% extends 'base.html' %}
{% load labels %}

{% block title %} La posizione di {{ object.denominazione }}{% endblock %}

{% block content %}
<div class="sfondo-verde">
  <div class="container">
    <div class="testata-interna"><h1>La posizione di <strong>{{ object.denominazione }}</strong></h1></div>
  </div>
</div>

<div class="sfondo-grigio">
  <div class="container">
    <div class="row-fluid">
      <div class="span8"><div class="grafico"><img src="{{ STATIC_URL }}img/grafico_lista.png" alt="Voi Siete Qui - Openpolis" /></div></div>
      <div class="span4"><div class="box-listeele">
        <div class="row-fluid">
          <div class="span4">
            {% immagine_partito object size='big' %}
          </div>
          <div class="span8">
            <h4>{{ object.denominazione }}</h4>
            {% if object.sito %}<a href="{{ object.sito }}">{{ object.sito }}</a>{% endif %}
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia velit in est vehicula cursus. Praesent sed suscipit nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum ligula ac diam porttitor porttitor.</p>
          </div>
        </div>
      </div>
        <ul class="pager">
          <li><a href="{% url party-positions %}" class="navigapage">Tutte le liste elettorali</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="contenuto">
    <h4>La distanza tra il partito e le liste elettorali, dalla più vicina alla più lontana</h4>
    <div class="tema0">

      <table class="table table-condensed table7">
        <thead>
        <tr>
          <th class="bianco-tab">Posizione lista</th>
          <th colspan="6" class="bianco-tab">La distanza dalle altre liste</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="grigio-tab">&nbsp;</td>
          <td class="nero-tab">+ vicino</td>
          <td class="nero-tab">&nbsp;</td>
          <td class="nero-tab">&nbsp;</td>
          <td class="nero-tab">&nbsp;</td>
          <td class="nero-tab">&nbsp;</td>
          <td class="nero-tab">+ lontano</td>
        </tr>
        <tr>
          <td class="grigio-tab">
            {% immagine_partito object size='normal' %}
          </td>
          <td class="verde01-tab">
            {% for partito, distanza in distanze_partiti.0 %}{% immagine_partito partito size='normal' title=distanza %}{% endfor %}
          </td>
          <td class="verde02-tab">
            {% for partito, distanza in distanze_partiti.1 %}{% immagine_partito partito size='normal' title=distanza %}{% endfor %}
          </td>
          <td class="verde03-tab">
            {% for partito, distanza in distanze_partiti.2 %}{% immagine_partito partito size='normal' title=distanza %}{% endfor %}
          </td>
          <td class="verde04-tab">
            {% for partito, distanza in distanze_partiti.3 %}{% immagine_partito partito size='normal' title=distanza %}{% endfor %}
          </td>
          <td class="verde05-tab">
            {% for partito, distanza in distanze_partiti.4 %}{% immagine_partito partito size='normal' title=distanza %}{% endfor %}
          </td>
          <td class="verde06-tab">
            {% for partito, distanza in distanze_partiti.5 %}{% immagine_partito partito size='normal' title=distanza %}{% endfor %}
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<div class="container">
  <div class="contenuto">
    <h4>Tema per tema le liste che ti sono vicine e quelle che ti sono lontane</h4>
    <div class="accordion" id="accordion">

      {% for risposta, distanze in risposte_partito_con_distanze %}
      <div class="accordion-group tema">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" {# data-parent="#accordion" #} href="#collapse{{ forloop.counter }}">
            <div class="row-fluid">
              <div class="span1"><div class="tema-num"><strong>{{ risposta.domanda.ordine }}/</strong>{{ QUESTIONS_COUNT }}</div></div>
              <div class="span11"><h1>{{ risposta.domanda.testo_html|safe }}</h1></div>
            </div>
          </a>
        </div>
        <div id="collapse{{ forloop.counter }}" class="accordion-body collapse">
          <div class="accordion-inner">

            <table class="table table-condensed table7">
              <thead>
              <tr>
                <th class="bianco-tab">Posizione lista</th>
                <th colspan="6" class="bianco-tab">La distanza dalle altre liste</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="grigio-tab">&nbsp;</td>
                <td class="nero-tab">+ vicino</td>
                <td class="nero-tab">&nbsp;</td>
                <td class="nero-tab">&nbsp;</td>
                <td class="nero-tab">&nbsp;</td>
                <td class="nero-tab">&nbsp;</td>
                <td class="nero-tab">+ lontano</td>
              </tr>
              <tr>
                <td class="grigio-tab">
                  {% immagine_partito risposta.partito size='normal' %}
                  <br />
                  <br /><label class="label label-{% label_risposta risposta.risposta_int %}">{% label_risposta_text risposta.risposta_int %}</label>
{#                  {% for altra_risposta_int in risposta.risposta_int|lista_altre_risposte %}#}
{#                  <br /><label class="label label-{% label_risposta altra_risposta_int %}">{% label_risposta_text altra_risposta_int %}</label>#}
{#                  {% endfor %}#}
                </td>
                <td class="verde01-tab">
                  {% for partito in distanze.0 %}{% immagine_partito partito size='normal' %}{% endfor %}
                </td>
                <td class="verde02-tab">
                  {% for partito in distanze.1 %}{% immagine_partito partito size='normal' %}{% endfor %}
                </td>
                <td class="verde03-tab">
                  {% for partito in distanze.2 %}{% immagine_partito partito size='normal' %}{% endfor %}
                </td>
                <td class="verde04-tab">
                  {% for partito in distanze.3 %}{% immagine_partito partito size='normal' %}{% endfor %}
                </td>
                <td class="verde05-tab">
                  {% for partito in distanze.4 %}{% immagine_partito partito size='normal' %}{% endfor %}
                </td>
                <td class="verde06-tab">
                  {% for partito in distanze.5 %}{% immagine_partito partito size='normal' %}{% endfor %}
                </td>
              </tr>
              </tbody>
            </table>

            {% if risposta.risposta_txt %}
            <strong>Commento della lista</strong>
            <div class="approfondimento">
              {{ risposta.risposta_txt }}
            </div>
            {% endif %}

          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}