{% extends 'base.html' %}

{% block content %}

  <div class="sfondo-verde">
    <div class="container">
      <div class="testata-interna">
        <div class="row-fluid">
          <div class="span3"><h1>Tu dove sei?</h1></div>
          <div class="span9">
            <div class="pagination pagination-small">
              <ul>
                {% for domanda in domande %}
                <li class="disabled"><a href="#">{{ domanda.ordine }}</a></li>
                {% endfor %}
{#                <li class="disabled"><a href="#">2</a></li>#}
{#                <li class="posizione"><a href="#"><strong>7</strong></a></li>#}
{#                <li><a href="#">20</a></li>#}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% for domanda in domande %}

  <div class="domanda{% if domanda.ordine > 1 %} hide{% endif %}">
    <div class="contenuto">
      <div class="container">
        <div class="row-fluid">
          <div class="span3">
            <div class="box-num-domande pull-right">
              Sei alla domanda<br><strong>{{ domanda.ordine }}/</strong>20<br>&nbsp;
            </div>
          </div>
          <div class="span9">
            <div class="domande">
              <h1>{{ domanda.testo_html|safe }}</h1>
              {% if domanda.approfondimento %}
              <button type="button" class="btn dropdown-toggle" data-toggle="collapse" data-target="#approfondisci">
                Approfondisci
                <span class="caret"></span>
              </button>
              <div id="approfondisci" class="collapse">
                <div class="approfondimento">
                  <p>{{ domanda.approfondimento_html|safe }}</p>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="contenuto">
      <div class="container">
        <div class="row-fluid">
          <div class="span2">
            <button class="btn btn-ok btn-mf" type="button">Molto Favorevole</button>
          </div>
          <div class="span2">
            <button class="btn btn-ok btn-f" type="button">Favorevole</button>
          </div>
          <div class="span2">
            <button class="btn btn-ok btn-tf" type="button">Tendenzialmente Favorevole</button>
          </div>
          <div class="span2">
            <button class="btn btn-ok btn-tc" type="button">Tendenzialmente Contrario</button>
          </div>
          <div class="span2">
            <button class="btn btn-ok btn-c" type="button">Contrario</button>
          </div>
          <div class="span2">
            <button class="btn btn-ok btn-mc" type="button">Molto Contrario</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}

{% endblock %}