{% extends 'base.html' %}


{% block title %}La tua posizione{% endblock %}

{% block header_scripts %}
    {% regroup risposte_partiti by partito__sigla as liste %}
    <script type="text/javascript">

      {% if utente %}
          var utente = {
              'nickname': '{{ utente.nickname}}',
              'email': '{{ utente.email }}',
              'user_key': '{{ utente.user_key }}'
          };
          var coordinate = {{ coord_utente|safe }};
          var risposte_utente = {
          {% for ru in risposte_utente %}{{ ru.domanda.pk }}: {{ ru.risposta_int }}{% if not forloop.last %},{%  endif %}{% endfor %}
          };
      {% endif %}

      var risposte_partiti = {
          {% for lista in liste %}
              '{{ lista.grouper }}': {
                {% for item in lista.list %}'{{ item.domanda }}': {{ item.risposta_int }}{% if not forloop.last %},{%  endif %}{% endfor %}
              }{% if not forloop.last %},{%  endif %}
          {% endfor %}
      };
      var partiti = {
          {% for p in partiti %}
            '{{ p.sigla }}': {
              'name': "{{ p.denominazione }}",
              'url': "{{ p.get_absolute_url }}",
              'coalizione': "{{ p.coalizione.slug }}",
              'colore': "{{ p.coalizione.colore }}",
              'simbolo_url': "{{ p.simbolo.url }}"
            }{% if not forloop.last %},{%  endif %}
          {% endfor %}
      }
    </script>
{% endblock %}




{% block scripts %}
    <script type="text/javascript">
        {% block generate_dynamic_content %}
            $(document).ready(function() {
                draw_graph(coordinate,"user", true);
                posiziona_distanze_generiche(coordinate, partiti);
                posiziona_label_risposte_utente(risposte_utente, risposte, label_risposte);
                posiziona_loghi(risposte_partiti, risposte_utente, dist, partiti, risposte);
            });
        {% endblock %}
    </script>

    <script src="{{ STATIC_URL }}js/dynamicPageContent.js"></script>

    <script src="{{ STATIC_URL }}js/risposteUtente.js?"></script>
    <script src="{{ STATIC_URL }}js/utils.js"></script>
{#    <script src="http://d3js.org/d3.v2.js"></script>#}
    <script src="{{ STATIC_URL }}js/underscore.min.js"></script>
    <script src="{{ STATIC_URL }}js/d3.min.js"></script>
    {#script for the final graph #}
    <script src="{{ STATIC_URL }}js/graph.utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/force_labels.js"></script>

    {#stili per label e marker del grafico#}
    <style>


        .labelbox {
            color:green;
            opacity:0.8
        }

        .labeltext {
            color:black;
            font-weight:bold;
            text-anchor:middle;
            font-family: Arial, sans-serif;
            text-transform: uppercase;
            font-size: 12px;
        }
        .link {
            stroke:gray;
            stroke-width:0.35
        }
        .connection-line {
            stroke:gray;
            stroke-width:0.5
        }
        .nickname {
            background-color: black;
            color:white;
            font-weight:bold;
            text-anchor:middle;
            font-family: Arial, sans-serif;
            text-transform: uppercase;
            font-size: 12px;
        }



    </style>

{% endblock %}



{% block content %}
    <!-- H1 su sfondo verde -->
    <div class="sfondo-verde">
        <div class="container">
            <div class="testata-interna"><h1>La posizione di <strong id="nome-utente">{{ utente.nickname }}</strong></h1></div>
        </div>
    </div>

    <!-- Grafico su sfondo grigio -->
    <div class="sfondo-grigio">
        <div class="container">
            <div class="row-fluid">
                <div class="span8 offset2">
                    <div class="grafico" id="grafico" style="position: relative">
                       <img src="{{ STATIC_URL }}img/grafico/bg_user.jpg" alt="Voi Siete Qui - Openpolis" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-condividi">
        <div class="container">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style ">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_counter addthis_pill_style"></a>
            </div>
            <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5117c0d354e9aed6"></script>

            <button type="button" class="btn dropdown-toggle" data-toggle="collapse" data-target="#pubblica">
                Pubblica sul tuo sito
                <span class="caret"></span>
            </button>
            <div id="pubblica" class="collapse">
                <div class="pubblica">
                    <p>Il federalismo fiscale municipale prevede la possibilità di istituire un'imposta di soggiorno a carico dei turisti. L'imposta potrà essere applicata con gradualità, fino a un massimo di 5 euro per notte di soggiorno, in proporzione al costo dell'albergo. Il gettito è destinato a finanziare interventi in materia di turismo, manutenzione, fruizione e recupero dei beni culturali e ambientali locali e dei relativi servizi pubblici locali. Alcune città che hanno adottato la tassa di soggiorno sono: Roma, Capri e Anacapri, Bolzano, Firenze.</p>
                </div>
            </div>
        </div>
    </div>


    {% block distances %}
        <!-- tabella distanze complessive utente-partito -->
        <div class="container">
            <div class="contenuto">
                <h4>La distanza tra te e le liste elettorali dalla più vicina alla più lontana</h4>
                <div class="tema0">

                    <table class="table table-condensed table7">
                        <thead>
                        <tr>
                            <th class="bianco-tab">Tu</th>
                            <th colspan="6" class="bianco-tab">La distanza dalle altre liste</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="grigio-tab">&nbsp;</td>
                            <td class="nero-tab">+ vicino</td>
                            <td class="nero-tab">&nbsp;</td>
                            <td class="nero-tab">&nbsp;</td>
                            <td class="nero-tab">&nbsp;</td>
                            <td class="nero-tab">&nbsp;</td>
                            <td class="nero-tab">+ lontano</td>
                        </tr>
                        <tr>
                            <td class="grigio-tab">

                            </td>
                            <td class="verde01-tab">

                            </td>
                            <td class="verde02-tab">

                            </td>
                            <td class="verde03-tab">

                            </td>
                            <td class="verde04-tab">

                            </td>
                            <td class="verde05-tab">

                            </td>
                            <td class="verde06-tab">

                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <!-- tabelle distanze tematiche utente-partito -->
        <div class="container">
            <div class="contenuto">
                <h4>Tema per tema le liste che ti sono vicine e quelle che ti sono lontane</h4>
                <div class="accordion" id="accordion">

                    {% for domanda in domande %}
                        <div class="accordion-group tema">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" {# data-parent="#accordion" #} href="#collapse{{ forloop.counter }}">
                                    <div class="row-fluid">
                                        <div class="span1"><div class="tema-num"><strong>{{ domanda.ordine }}/</strong>{{ QUESTIONS_COUNT }}</div></div>
                                        <div class="span11"><h1>{{ domanda.testo_html|safe }}</h1></div>
                                    </div>
                                </a>
                            </div>
                            <div id="collapse{{ forloop.counter }}" class="accordion-body collapse">
                                <div class="accordion-inner">

                                    <table class="table table-condensed table7">
                                        <thead>
                                        <tr>
                                            <th class="bianco-tab">La tua posizione</th>
                                            <th colspan="6" class="bianco-tab">La distanza dalle altre liste</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="grigio-tab">&nbsp;</td>
                                            <td class="nero-tab">+ vicino</td>
                                            <td class="nero-tab">&nbsp;</td>
                                            <td class="nero-tab">&nbsp;</td>
                                            <td class="nero-tab">&nbsp;</td>
                                            <td class="nero-tab">&nbsp;</td>
                                            <td class="nero-tab">+ lontano</td>
                                        </tr>
                                        <tr class="symbols">
                                            <td class="grigio-tab">
                                            </td>
                                            <td class="verde01-tab">
                                            </td>
                                            <td class="verde02-tab">
                                            </td>
                                            <td class="verde03-tab">
                                            </td>
                                            <td class="verde04-tab">
                                            </td>
                                            <td class="verde05-tab">
                                            </td>
                                            <td class="verde06-tab">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    {% endblock %}

{% endblock %}

