{% extends 'base.html' %}
{% load labels %}


{% block title %}La tua posizione{% endblock %}

{% block header_scripts %}
    {% regroup risposte_partiti by partito__sigla as liste %}
    <script type="text/javascript">
      var utente = {
          'nickname': '{{ utente.nickname}}',
          'email': '{{ utente.email }}',
          'user_key': '{{ utente.user_key }}'
      };
      var coordinate = {{ coord_utente|safe }};
      var risposte_utente = {
        {% for ru in risposte_utente %}{{ ru.domanda.pk }}: {{ ru.risposta_int }}{% if not forloop.last %},{%  endif %}{% endfor %}
      };
      var risposte_partiti = {
          {% for lista in liste %}
              '{{ lista.grouper }}': {
                {% for item in lista.list %}{{ item.domanda }}: {{ item.risposta_int }}{% if not forloop.last %},{%  endif %}{% endfor %}
              }{% if not forloop.last %},{%  endif %}
          {% endfor %}
      };
      var partiti = {
          {% for p in partiti %}
            '{{ p.sigla }}': {
              'name': "{{ p.denominazione }}",
              'url': "{{ p.get_absolute_url }}",
              'coalizione': "{{ p.coalizione.slug }}",
              'colore': "{{ p.coalizione.colore }}",
              'simbolo_url': "{{ p.simbolo.url }}"
            }{% if not forloop.last %},{%  endif %}
          {% endfor %}

      }
    </script>
{% endblock %}




{% block scripts %}
    <script type="text/javascript">

        /*
         * columns matrix
         * returns the column where a symbol must be put, whe user (rows)
         * and party (columns) gave certain answers to the same question
         */
        var dist = {
            '-3': { '-3': 0, '-2': 1, '-1': 2, '1': 3, '2': 4, '3': 5 },
            '-2': { '-3': 1, '-2': 0, '-1': 1, '1': 2, '2': 3, '3': 4 },
            '-1': { '-3': 2, '-2': 1, '-1': 0, '1': 2, '2': 3, '3': 4 },
             '1': { '-3': 4, '-2': 3, '-1': 2, '1': 0, '2': 1, '3': 2 },
             '2': { '-3': 4, '-2': 3, '-1': 2, '1': 1, '2': 0, '3': 1 },
             '3': { '-3': 5, '-2': 4, '-1': 3, '1': 2, '2': 1, '3': 0 }
        };

        var risposte = {
          '-3': 'Molto contrario/a',
          '-2': 'Contrario/a',
          '-1': 'Tendenzialmente contrario/a',
           '1': 'Tendenzialmente favorevole',
           '2': 'Favorevole',
           '3': 'Molto favorevole'
        };

        var label_risposte = {
            '-3': 'mc',
            '-2': 'c',
            '-1': 'tc',
             '1': 'tf',
             '2': 'f',
             '3': 'mf'
        };

        /*
         * places parties' symbols in the generic table
         */
        posiziona_distanze_generiche = function(){

            // extract user's position
            for (var i in coordinate_utente) {
                if (coordinate_utente[i][0] == 'user') {
                    var pos_utente = {'x': coordinate_utente[i][1], 'y': coordinate_utente[i][2]};
                }
            }

            // compute distnaces of user from other parties
            // build both distances (dict) and distance_values (array)
            var distances = {};
            var distance_values = [];
            for (var i in coordinate_utente){
                if ( coordinate_utente[i][0] == 'user' ) continue;
                var pos_partito = {'x': coordinate_utente[i][1], 'y': coordinate_utente[i][2]};
                var distance = Math.sqrt(
                        ( pos_utente['x'] - pos_partito['x'] ) * ( pos_utente['x'] - pos_partito['x'] ) +
                        ( pos_utente['y'] - pos_partito['y'] ) * ( pos_utente['y'] - pos_partito['y'] ))
                distance_values.push(distance);
                distances[coordinate_utente[i][0]] = distance;
            }

            // compute quantiles for 1-6 range, using D3
            // q(dist) returns the column where to put the party symbol
            var q = d3.scale.quantile().domain(distance_values).range([1,2,3,4,5,6]);

            for (var p in distances) {
                var colonna = q(distances[p]);
                var col_selector = '.tema0 table tr td.verde0'+colonna+'-tab';
                var partito = partiti[p];
                $(col_selector).append(
                        '<a href="'+ partito['url']+'">' +
                                '<img class="img-circle-coalition img-coalition-'+ partito['coalizione'] +
                                ' img-circle-loghi img-circle-normal' + '" ' +
                                'src="' + partito['simbolo_url'] + '" ' +
                                'alt="' + partito['sigla'] + '"' +
                                'title="Distanza: ' + distances[p].toFixed(3)*1000 + '"/>' +
                                '</a>'
                );
            }
        };

        /*
         * places user's answers, with colored labels, in the first column of the thematic tables
         */
        posiziona_label_risposte_utente = function(){
            for (var r in risposte_utente) {
                var risposta_utente = risposte_utente[r];
                var col_selector = '#collapse'+r+' table tr.symbols td.grigio-tab';
                $(col_selector).append(
                        '<label class="label label-' + label_risposte[risposta_utente] + '">' +
                                risposte[risposta_utente] +
                                '</label>'
                );

            }
        };

        /*
         * places parties' symbols in thematic tables
         */
        posiziona_loghi = function(){
            for (var p in window.risposte_partiti) {
                var risposte_partito = window.risposte_partiti[p];
                for (var r in risposte_partito) {
                    var risposta_partito = risposte_partito[r];
                    var risposta_utente = risposte_utente[r];
                    var colonna = dist[String(risposta_utente)][risposta_partito] + 1;
                    var col_selector = '#collapse'+r+' table tr.symbols td.verde0'+colonna+'-tab';
                    var partito = partiti[p];
                    $(col_selector).append(
                        '<a href="'+ partito['url']+'">' +
                            '<img class="img-circle-coalition img-coalition-'+ partito['coalizione'] +
                                        ' img-circle-loghi img-circle-normal' + '" ' +
                                  'src="' + partito['simbolo_url'] + '" ' +
                                  'alt="' + partito['sigla'] + '"' +
                                  'title="Posizione: ' + risposte[risposta_partito] + '"/>' +
                        '</a>'
                    );
                }
            }
        };

        /*
         * Genera il grafico per l'utente, a partire dalle variabili globali: coordinate_utente
         */
        genera_grafico = function(){

        };

        $(document).ready(function() {
            genera_grafico();
            posiziona_distanze_generiche();
            posiziona_label_risposte_utente();
            posiziona_loghi();
        });
    </script>

    <script src="{{ STATIC_URL }}js/d3.min.js"></script>

{% endblock %}




{% block content %}
    <!-- H1 su sfondo verde -->
    <div class="sfondo-verde">
        <div class="container">
            <div class="testata-interna"><h1>La posizione di <strong>{{ utente.nickname }}</strong></h1></div>
        </div>
    </div>

    <!-- Grafico su sfondo grigio -->
    <div class="sfondo-grigio">
        <div class="container">
            <div class="row-fluid">
                <div class="span8"><div class="grafico"><img src="{{ STATIC_URL }}img/grafico_lista.png" alt="Voi Siete Qui - Openpolis" /></div></div>
                <div class="span4">
                    <div class="box-listeele">
                        <div class="row-fluid">
                            <div class="span4">
                                Condivisione via email
                            </div>
                            <div class="span8">
                                Blah blah
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- tabella distanze complessive utente-partito -->
    <div class="container">
        <div class="contenuto">
            <h4>La distanza tra te e le liste elettorali dalla più vicina alla più lontana</h4>
            <div class="tema0">

                <table class="table table-condensed table7">
                    <thead>
                    <tr>
                        <th class="bianco-tab">Tu</th>
                        <th colspan="6" class="bianco-tab">La distanza dalle altre liste</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="grigio-tab">&nbsp;</td>
                        <td class="nero-tab">+ vicino</td>
                        <td class="nero-tab">&nbsp;</td>
                        <td class="nero-tab">&nbsp;</td>
                        <td class="nero-tab">&nbsp;</td>
                        <td class="nero-tab">&nbsp;</td>
                        <td class="nero-tab">+ lontano</td>
                    </tr>
                    <tr>
                        <td class="grigio-tab">

                        </td>
                        <td class="verde01-tab">

                        </td>
                        <td class="verde02-tab">

                        </td>
                        <td class="verde03-tab">

                        </td>
                        <td class="verde04-tab">

                        </td>
                        <td class="verde05-tab">

                        </td>
                        <td class="verde06-tab">

                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- tabelle distanze tematiche utente-partito -->
    <div class="container">
        <div class="contenuto">
            <h4>Tema per tema le liste che ti sono vicine e quelle che ti sono lontane</h4>
            <div class="accordion" id="accordion">

                {% for domanda in domande %}
                    <div class="accordion-group tema">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" {# data-parent="#accordion" #} href="#collapse{{ forloop.counter }}">
                                <div class="row-fluid">
                                    <div class="span1"><div class="tema-num"><strong>{{ domanda.ordine }}/</strong>{{ QUESTIONS_COUNT }}</div></div>
                                    <div class="span11"><h1>{{ domanda.testo_html|safe }}</h1></div>
                                </div>
                            </a>
                        </div>
                        <div id="collapse{{ forloop.counter }}" class="accordion-body collapse">
                            <div class="accordion-inner">

                                <table class="table table-condensed table7">
                                    <thead>
                                    <tr>
                                        <th class="bianco-tab">La tua posizione</th>
                                        <th colspan="6" class="bianco-tab">La distanza dalle altre liste</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="grigio-tab">&nbsp;</td>
                                        <td class="nero-tab">+ vicino</td>
                                        <td class="nero-tab">&nbsp;</td>
                                        <td class="nero-tab">&nbsp;</td>
                                        <td class="nero-tab">&nbsp;</td>
                                        <td class="nero-tab">&nbsp;</td>
                                        <td class="nero-tab">+ lontano</td>
                                    </tr>
                                    <tr class="symbols">
                                        <td class="grigio-tab">
                                        </td>
                                        <td class="verde01-tab">
                                        </td>
                                        <td class="verde02-tab">
                                        </td>
                                        <td class="verde03-tab">
                                        </td>
                                        <td class="verde04-tab">
                                        </td>
                                        <td class="verde05-tab">
                                        </td>
                                        <td class="verde06-tab">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}
