@import "bootstrap/bootstrap.less";
@import "styles-responsive.less";
//VSQ13 custom Css

body{
  font-family: 'Arial', sans-serif;
  background-color: white;

  @media(max-width:400px){
    padding-left:0;
    padding-right:0;
  }
}

.ui-autocomplete{
  z-index: 1000!important;
}

.header{
  padding-bottom: @spacing-single;

  #logo_header{

   #logo_top{
     padding-top: @spacing-double;
     padding-bottom: @spacing-half;
     a{
       border: 0;
     }
   }
  }
}


#top_navbar{
  background-color: white;

  .navbar-custom{
    margin-bottom:0;
    font-size: @navbar-size;

    .navbar-inner-custom{
      padding:0;
      border: 0;
      border-radius: 0;
      background-color: white;
      border-bottom-color: white;
      background-repeat: no-repeat;
      -webkit-box-shadow: none;
      background-image: none;

    }
  }
  .search-query{

    height: 20px;
    padding-bottom: 5px;
//    margin-left: @spacing-half;
    padding-left: 5px;
    border-radius: 0;
    background-color: #cacccb;
    color: black;
  }
  .navbar-search{
    .search-query{
      min-width: 380px;
    }
  }

}


div.content{


  .spacer{
    min-height: @spacing-single;
    margin-bottom: @spacing-half;
  }

  .partiti_title{
    font-size: @medium-size;
    color:black;
    margin-bottom: @spacing-single;
    margin-top: @spacing-single;

    .lista_name{
      color: @red-color;
    }
  }
  ul.partiti{
    li{
      list-style-image: url('../img/red-bullet.png');
    }

  }

  table.partiti.table{

    margin-bottom:0;
    td{

      border:0;
    }

    tbody tr.error td {
      background-color: #FF5555;
    }

    .question_header{
      border: 2px solid @gray-border;
      text-align: center;
    }
    .question_body{
      background-color: @gray-filling;

      label{
        font-weight: bold;
        padding-left: @spacing-half;
      }
    }
    .answer_label{
      color: @gray-label;

    }
    .answer{
      margin-left:0;

      textarea{
        width: 100%;
        max-height: 80px;
      }
      .framed{
        padding: 5px;
        border: 2px solid @gray-border;
      }
    }

  }

  .earlybird{

    input.semail{

      width: 220px;
      height: 30px;
      padding: 10px 36px 10px 15px;
      border: 1px solid #E5E5E5;
      font-size: 14px;
      float: left;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
    }
  }

//questionario utenti vecchi stili

  #posizioni div{
    img{
      float:left;
    }
  }
}

footer{

}


/* aggiunti dal CSS */

/*!
 * Aggiunti
 */

.testata {
  padding: 35px 30px 30px 30px;
  margin: 0;
  color: inherit;
  border-bottom: 1px solid #e1e1e1;
  background-image: url("../img/sfondo_fascia.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #f4f4f4;
}

.testata h1 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  color: #000;
}

.testata li {
  line-height: 30px;
}

.logo {
	margin-right: 15px;
}

.strumento {
	margin-top: 10px;
}

.sfondo-verde {
  padding: 35px 30px 30px 30px;
  margin: 0;
  color: inherit;
  border-bottom: 1px solid #fff;
  background-image: url("../img/sfondo_verde.png");
  background-position: left top;
  background-repeat: repeat-x;
  background-color: #0d897c;
}

.sfondo-verde h1 {
  font-size: 44px;
  font-weight: normal;
  line-height: 48px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

.sfondo-verde p {
  padding: 10px 0;
  font-size: 14.5px;
  font-weight: normal;
  line-height: 21px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

.sfondo-grigio {
  padding: 35px 30px 30px 30px;
  margin: 0;
  color: inherit;
  border-bottom: 1px solid #e1e1e1;
  background-image: url("../img/sfondo_grigio01.png");
  background-position: left top;
  background-color: #fafafa;
}

.box-bianco {
  margin: 0;
  padding: 0 15px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.box-bianco h4 {
  margin: 0 0 20px 0;
}

.box-condividi {
  padding: 20px 0;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.pubblica {
  text-align: left;
  color: #666666;
  padding: 15px 15px 0 15px;
  margin: 10px;
  background-color: #f4f4f4;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.box-listeele {
  margin: 0;
  padding: 20px 15px 15px 15px;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.box-listeele h4 {
  clear: both;
  text-align: left;
  margin: 0 0 5px 0;
}

.tema0 {
  text-align: left;
  padding: 0 10px;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.temalista {
  text-align: center;
  padding: 20px 10px 10px 10px;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.commento-centro {
  font-family: "Droid Serif", serif;
  color: #666666;
  text-align: left;
}

.table7 td {
  width: 14.28%;
}

.table6 td {
  width: 16.66%;
}

.table3 td {
  width: 33.33%;
}

.bianco-tab {
  background-color: #fff;
}

.grigio-tab {
  background-color: #fafafa;
}

.nero-tab {
  color: #fff;
  background-color: #000;
}

.verde01-tab {
  background-color: #89b2a2;
}

.verde02-tab {
  background-color: #a1c4b7;
}

.verde03-tab {
  background-color: #a8d4c3;
}

.verde04-tab {
  background-color: #baded0;
}

.verde05-tab {
  background-color: #d2e9e0;
}

.verde06-tab {
  background-color: #eef7f4;
}

.mf-tab {
  color: #fff;
  background-color: #006100;
}

.f-tab {
  color: #fff;
  background-color: #008300;
}

.tf-tab {
  color: #fff;
  background-color: #6a9a00;
}

.tc-tab {
  color: #fff;
  background-color: #ca7500;
}

.c-tab {
  color: #fff;
  background-color: #d11d00;
}

.mc-tab {
  color: #fff;
  background-color: #9a0000;
}

.mf01-tab {
  color: #fff;
  background-color: #59ac5a;
}

.f01-tab {
  color: #fff;
  background-color: #5ac05a;
}

.tf01-tab {
  color: #fff;
  background-color: #abd158;
}

.tc01-tab {
  color: #fff;
  background-color: #fdac5a;
}

.c01-tab {
  color: #fff;
  background-color: #fd6f59;
}

.mc01-tab {
  color: #fff;
  background-color: #d45a59;
}


.tema h1 {
    padding: 0 0 0 20px;
    font-family: "Droid Serif", serif;
    font-weight: normal;
 	font-size: 21px;
 	line-height: 28px;
    border-left: 1px solid #e1e1e1;
}

.tema-num {
  margin: 0;
  padding: 11px 30px 0 0;
  text-align: center;
  font-family: "Droid Serif", serif;
  font-size: 13px;
  color: #000;
}

.tema-num strong{
  font-size: 32px;
}

.box-verde {
  margin: 0 0 20px 0;
  padding: 3px 8px 18px 8px;
  text-align: center;
  background-image: url("../img/sfondo_verde01.png");
  background-position: left top;
  background-repeat: repeat-x;
  background-color: #08555a;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.box-verde p {
  padding: 10px 0 4px 0;
  font-size: 14.5px;
  font-weight: normal;
  line-height: 21px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

.box-liste {
  background-color: #f4f4f4;
}

.box-liste img {
  padding-bottom: 50%;
}

#browser_issue{
    min-height: 200px;
    margin-top: 20px;
    display: none;
    padding: 30px;
}

#browser_issue p{
    text-align: left;
    color:#6E6E6E;
}

.grafico{
    overflow: hidden;
}

.grafico_background{
    padding-bottom: 10px;
    text-align: center;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.box-liste p {
  font-size: 12px;
  font-weight: bold;
  line-height: 13px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

.linea-vert {
  margin: 20px 0;
  padding: 0 0 0 10px;
  border-left: 1px solid #e1e1e1;
}

.linea-vert p {
  padding: 0;
  text-align: center;
}

.testata-interna {
  margin: 0;
}

.testata-interna h1 {
  margin: 0;
  font-style: normal;
  font-size: 28px;
  line-height: 1;
  color: #fff;
}

.contenuto {
  margin: 30px 0;
}

.domande ul {
  margin: 0 0 20px 0;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
}

.domande ul li {
  padding: 5px 0;
}

.risposte {
  padding: 15px;
  margin: 10px 10px 10px 0;
  border: 1px solid #e1e1e1;
  border-left: 5px solid #e1e1e1;
  background-color: #f4f4f4;
}

.box-num-domande {
  width: 98px;
  height: 84px;
  margin: 0 0 10px 10px;
  font-family: "Droid Serif", serif;
  padding: 12px 0 0 0;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 70px;
     -moz-border-radius: 70px;
          border-radius: 70px;
}

.box-num-domande img {
  padding: 12px 0 0 0;
}

.box-num-domande strong {
 	font-size: 48px;
 	line-height: 40px;
 	color: #000;
}

.domande {
  padding: 0;
  margin: 10px 10px 10px 0;
}

.domande h1 {
    font-family: "Droid Serif", serif;
    font-weight: normal;
 	font-size: 26px;
 	line-height: 32px;
 	color: #000;
}

.approfondimento {
  font-family: "Droid Serif", serif;
  color: #666666;
  padding: 15px;
  margin: 10px 10px 10px 0;
  border: 1px solid #e1e1e1;
  border-left: 5px solid #e1e1e1;
  background-color: #fafafa;
}

.domande .approfondimento {
    font-size: 12px;
}

.chart-caption {
    font-size: 11px;
    text-align: center;
}

.footer {
  padding: 35px 30px 30px 30px;
  margin: 0;
  color: inherit;
  border-top: 1px solid #e1e1e1;
  background-color: #f4f4f4;
}

.footer h4 {
   margin: 12px 0 5px 0;
}

.footer p {
  text-align: left;
  padding: 0 15px 0 0;
}

.img-small {
  margin-bottom: 15px;
}

.box-footer {
  margin: 0;
  padding: 15px;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.box-footer h4 {
  text-align: left;
  margin: 0 0 10px 0;
}
.box-footer p {
    margin-left: 48px;
    font-size: 0.9em;
    line-height: 1.2em;
    color: #939698;
}
.box-footer hr {
    margin: 0;
    border: 0;
    border-top: 1px solid #7cc0b2;
    border-bottom: 1px solid #ffffff;
}

.pulsanti {
   margin: 2px;
   padding: 5px;
   width: 110px;
}

#sub-footer ul {
        list-style-type: none;
        text-align:center;
        margin-top: 50px;
}

#sub-footer ul li {
        display: inline;
}

/*!
 * Bottoni questionario
 */

 .btn-ok {
  padding: 11px 19px;
  font-size: 102%;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn-mf {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006100;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #008100, #006100);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008100), to(#006100));
  background-image: -webkit-linear-gradient(top, #008100, #006100);
  background-image: -o-linear-gradient(top, #008100, #006100);
  background-image: linear-gradient(to bottom, #008100, #006100);
  background-repeat: repeat-x;
  border-color: #005900 #005900 #005900;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008100', endColorstr='#006100', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-mf:hover,
.btn-mf:active,
.btn-mf.active,
.btn-mf.disabled,
.btn-mf[disabled] {
  color: #ffffff;
  background-color: #006100;
  *background-color: #008100;
}

.btn-mf:active,
.btn-mf.active {
  background-color: #008100 \9;
}

.btn-f {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #008300;
  *background-color: #00a100;
  background-image: -moz-linear-gradient(top, #00a100, #008300);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00a100), to(#008300));
  background-image: -webkit-linear-gradient(top, #00a100, #008300);
  background-image: -o-linear-gradient(top, #00a100, #008300);
  background-image: linear-gradient(to bottom, #00a100, #008300);
  background-repeat: repeat-x;
  border-color: #005900 #005900 #005900;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a100', endColorstr='#008300', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-f:hover,
.btn-f:active,
.btn-f.active,
.btn-f.disabled,
.btn-f[disabled] {
  color: #ffffff;
  background-color: #008300;
  *background-color: #00a100;
}

.btn-f:active,
.btn-f.active {
  background-color: #00a100 \9;
}

.btn-tf {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #6a9a00;
  *background-color: #81bc00;
  background-image: -moz-linear-gradient(top, #81bc00, #6a9a00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#81bc00), to(#6a9a00));
  background-image: -webkit-linear-gradient(top, #81bc00, #6a9a00);
  background-image: -o-linear-gradient(top, #81bc00, #6a9a00);
  background-image: linear-gradient(to bottom, #81bc00, #6a9a00);
  background-repeat: repeat-x;
  border-color: #005900 #005900 #005900;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#81bc00', endColorstr='#6a9a00', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-tf:hover,
.btn-tf:active,
.btn-tf.active,
.btn-tf.disabled,
.btn-tf[disabled] {
  color: #ffffff;
  background-color: #6a9a00;
  *background-color: #81bc00;
}

.btn-tf:active,
.btn-tf.active {
  background-color: #81bc00 \9;
}

.btn-tc {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ca7500;
  *background-color: #fd9500;
  background-image: -moz-linear-gradient(top, #fd9500, #ca7500);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fd9500), to(#ca7500));
  background-image: -webkit-linear-gradient(top, #fd9500, #ca7500);
  background-image: -o-linear-gradient(top, #fd9500, #ca7500);
  background-image: linear-gradient(to bottom, #fd9500, #ca7500);
  background-repeat: repeat-x;
  border-color: #005900 #005900 #005900;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd9500', endColorstr='#ca7500', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-tc:hover,
.btn-tc:active,
.btn-tc.active,
.btn-tc.disabled,
.btn-tc[disabled] {
  color: #ffffff;
  background-color: #ca7500;
  *background-color: #fd9500;
}

.btn-tc:active,
.btn-tc.active {
  background-color: #fd9500 \9;
}

.btn-c {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #d11d00;
  *background-color: #ff2300;
  background-image: -moz-linear-gradient(top, #ff2300, #d11d00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff2300), to(#d11d00));
  background-image: -webkit-linear-gradient(top, #ff2300, #d11d00);
  background-image: -o-linear-gradient(top, #ff2300, #d11d00);
  background-image: linear-gradient(to bottom, #ff2300, #d11d00);
  background-repeat: repeat-x;
  border-color: #005900 #005900 #005900;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2300', endColorstr='#d11d00', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-c:hover,
.btn-c:active,
.btn-c.active,
.btn-c.disabled,
.btn-c[disabled] {
  color: #ffffff;
  background-color: #d11d00;
  *background-color: #ff2300;
}

.btn-c:active,
.btn-c.active {
  background-color: #ff2300 \9;
}

.btn-mc {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #9a0000;
  *background-color: #bc0000;
  background-image: -moz-linear-gradient(top, #bc0000, #9a0000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bc0000), to(#9a0000));
  background-image: -webkit-linear-gradient(top, #bc0000, #9a0000);
  background-image: -o-linear-gradient(top, #bc0000, #9a0000);
  background-image: linear-gradient(to bottom, #bc0000, #9a0000);
  background-repeat: repeat-x;
  border-color: #005900 #005900 #005900;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc0000', endColorstr='#9a0000', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-mc:hover,
.btn-mc:active,
.btn-mc.active,
.btn-mc.disabled,
.btn-mc[disabled] {
  color: #ffffff;
  background-color: #9a0000;
  *background-color: #bc0000;
}

.btn-mc:active,
.btn-mc.active {
  background-color: #bc0000 \9;
}

.label-utente {
  padding: 8px;
  font-size: 14px;
  font-weight: normal;
  background-color: #333;
}

.label-mf {
  padding: 8px;
  font-size: 14px;
  font-weight: normal;
  background-color: #006100;
}

.label-f {
  padding: 8px;
  font-size: 14px;
  font-weight: normal;
  background-color: #008300;
}

.label-tf {
  padding: 8px;
  font-size: 14px;
  font-weight: normal;
  background-color: #6a9a00;
}

.label-tc {
  padding: 8px;
  font-size: 14px;
  font-weight: normal;
  background-color: #ca7500;
}

.label-c {
  padding: 8px;
  font-size: 14px;
  font-weight: normal;
  background-color: #d11d00;
}

.label-mc {
  padding: 8px;
  font-size: 14px;
  font-weight: normal;
  background-color: #9a0000;
}

.navigapage {
  font-size: 13px;
  font-weight: bold;
}


/*!
 * Liste elettorali
 */

.img-circle-coalition {
    padding: 1px;
    margin: 2px;
    border: 3px solid #000;
    border: 3px solid rgba(0, 0, 0, 1);
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.img-circle-big { height: auto; /*74px;*/ width:74px; }
.img-circle-normal { height: auto; /* 54px;*/ width:54px; }
.img-circle-small { height: auto; /*46px; */ width:46px; }

.barra-coalizione {
    width:10%;
    height: 84px;
    padding: 18px 0;
    margin: 0;
    text-align: center;
    border-right: 0 solid #ccc;
    border-bottom: 1px solid #fff;
    background-image: url("../img/liste/blocco_coalizione.gif");
    background-position: center top;
    background-repeat: no-repeat;
}

.table-rows td { border-top:1px solid #dddddd; }
.table-rows tr td:last-child { text-align: left; }

#pulsantiera button.btn.selected i { margin-left: 5px; }
#pulsantiera button.btn.selected {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    *background-color: #0044cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.pagination ul > li.hide {display: none;}
.domanda { min-height: 255px; }

#twittthis { margin-top: 10px; }
#paypal { margin: 0 }
#paypal form { margin: 0 }

/* Stili grafico d3 */
#permalink { cursor: auto; }


.labeltext {
    color:black;
    font-weight:bold;
    text-anchor:middle;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}
.link {
    stroke:gray;
    stroke-width:0.35px;
}
.connection-line {
    stroke:gray;
    stroke-width:0.5px;
}

.nickname {
    color:white;
    font-weight:bold;
    text-anchor:middle;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}
