{% extends 'base.html' %}
{% load labels %}
{% load humanize %}
{% load date_utils %}

{% block title %}Homepage{% endblock %}

{% block header_scripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/humanize.min.js"></script>
    <script type="text/javascript">
        var coordinate = {{ coordinate|safe }};
        var partiti = {
            {% for l in partiti %}
                '{{ l.sigla }}': {
                    'colore': "{{ l.coalizione.colore }}"
                }{% if not forloop.last %},{%  endif %}
            {% endfor %}
        };
        google.load("visualization", "1", {packages:["corechart"]});
        var results_list = new Array(), chart_options = {
            is3D: true,
            legend: {position: 'none'},
            colors: [
                '#9A0000', '#D11D00', '#CA7500',
                '#6A9A00', '#008300', '#006100'
            ],
            chartArea: {'width': '100%', 'height': '80%'}
        };
    </script>
{% endblock %}

{% block styles %}
{{ block.super }}
    <style>
    #lista-partiti {
        text-align: center;
        font-size: 0;
    }
    .btn-group-justified {

    }
    .barra-coalizione .img-circle-big {
        height: 60px;
    }
    #lista-partiti .barra-coalizione {
        display: inline-block; float: none; width: 120px; height: 92px;
        padding: 14px 0;

    }
    #lista-partiti .barra-coalizione a {
        display: block; font-size: 13px;
        color: black;
    }

    </style>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        {% block generate_dynamic_content %}

            $(document).ready(function() {
                if(browser_check()){
                    resize();
                    draw_graph(coordinate);
                }
            });
        {% endblock %}
    </script>

    <script src="{{ STATIC_URL }}js/risposteUtente.js?"></script>
    <script src="{{ STATIC_URL }}js/utils.js"></script>
    <script src="{{ STATIC_URL }}js/underscore.min.js"></script>
    <script src="{{ STATIC_URL }}js/d3.min.js"></script>
    {#script for the final graph #}
    <script type="text/javascript" src="{{ STATIC_URL }}js/force_labels.js"></script>
    <script type="text/javascript">

        var charts = new Array();
        var onSlidDrawChart = function() {
            var id = $('#myCarousel').find('.item.active .piechart').attr('id');
            if (!window.charts.hasOwnProperty(id) && results_list.length > 0) {
                var data = google.visualization.arrayToDataTable(results_list[id]);
                charts[id] = new google.visualization.PieChart(document.getElementById(id));
                charts[id].draw(data, window.chart_options);
            }
        };

        $(document).ready(function(){
            // initialize charts (lazy-loaded)
            $('#myCarousel').bind('slid', onSlidDrawChart );
            onSlidDrawChart();

{#            $('#subscription_form').mailbinForm();#}
        })
    </script>


{% endblock %}

{% block content %}

  <div class="sfondo-verde">
    <div class="container">
      <div class="hero-unit">

        <div class="row-fluid">
          <div class="span12">
            <h1>Perso nella campagna elettorale?</h1>
            <div class="row-fluid">
              <div class="span4">
                <h1><strong>Orientati qui!</strong></h1>
                <p>Le distanze tra {{ THE_PARTY_TERM_PLURAL|lower }} sono calcolate confrontando le
                    <strong>diverse posizioni su {{ QUESTIONS_COUNT }} temi</strong>.<br><br>
		</p>
                  <div class="box-verde">
                  <p><strong>{{ conteggio_utenti|intcomma }} cittadini</strong><br />conoscono già la loro posizione.</p>
                  <a href="{% url 'questionario-utente' %}" class="btn btn-danger btn-large">Scopri dove sei! &raquo;</a>
                </div>
              </div>
              <div class="span6 offset1">
                  <div class="grafico_background"  style="background-image: url('{{ STATIC_URL }}img/grafico/bg_liste.png');">
                      <div class="grafico" id="grafico" style=""></div>
                      <div id="browser_issue">
                         <p>
                             Spiacenti, il browser che hai installato non supporta la visualizzazione del grafico di Voi siete qui.
                          </p>
                          <p>
                              Ti consigliamo di scaricare una versione pi&ugrave; aggiornata del tuo browser.
                          </p>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

    {% if conteggio_risposte %}
      <div class="contenuto">
        <div class="container tema">
          <div class="row">
            <div class="span12">
              <h3 style="font-weight: normal; color: #000;">La posizione dei nostri {{ conteggio_utenti|intcomma }} utenti sui temi*</h3>
              <div id="myCarousel" class="carousel slide" data-interval="10000" data-pause="hover" style="padding-left:50px; padding-right:50px;">
                <!-- Carousel items -->
                <div class="carousel-inner container">
                  {% for object, results in conteggio_risposte %}
                    <div class="item row-fluid{% if forloop.first %} active{% endif %}">
                      <script type="text/javascript">
                        results_list['chart_div_{{ object.ordine }}'] = ([
                            ['Posizione', 'Numero utenti'],
                            {% for pos, val in results %}
                                ['{{ pos }}', {{ val|intcomma }}],
                            {% endfor %}
                        ]);
                      </script>
                      <div class="span2">
                        <div class="box-num-domande pull-right">
                            Tema<br /><strong>{{ object.ordine }}/</strong>{{ conteggio_risposte|length }}<br />&nbsp;
                        </div>
                      </div>
                      <div class="span8">
                        <div class="pull-right" style="position: relative;">
                          <div id="chart_div_{{ object.ordine }}" class="piechart" style="width:280px; height:240px;"></div>
                          <div class="chart-caption">
                              <a href="/faq#6">Le percentuali non sono statisticamente significative</a>
                          </div>
                        </div>
                        <div class="domande">
                          <h1><a href="{{ object.get_absolute_url }}">{{ object.testo_html|safe }}</a></h1>
                        </div>
                      </div>
                    </div>
                {% endfor %}
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="container">
            <div class="row">
                <div class="span10 offset1">
                    <div class="well">
                        <form action="{% url 'subscribe-url' %}" id="subscription_form" style="margin-left:20px;"
                              method="post" class="pull-right">
                            {% csrf_token %}
                            <div class="control-group">
                                <div class="input-append">
                                    <input class="span2" id="appendedInputButton" type="text" name="email">
                                    <button class="btn" type="submit">Invia</button>
                                </div>
                            </div>
                            {% if subscription_form.email.errors %}
                            <div class="alert alert-error">
                              {{ subscription_form.email.errors.0 }}
                            </div>
                            {% else %}
                            {% if messages %}
	                            {% for message in messages %}{% if 'email' in message.tags %}
                              <div class="alert alert-success">{{ message }}</div>
                              {% endif %}{% endfor %}
                            {% endif %}
                            {% endif %}

                        </form>
                        <p class="lead">
                            Stiamo lavorando ad un’analisi approfondita <br>
                            dei risultati di Voisietequi.
                            Se sei interessato lasciaci la
                            tua email e te la invieremo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% if op_blog_posts %}
        <section id="from-the-blog">
            <div class="container">
                <div class="row">
                    {% for blog_post, blog_body in op_blog_posts %}
                    <article class="span4">
                        <h3><a href="{{ blog_post.link }}" target="_blank">{{ blog_post.title }}</a></h3>
                        <p class="small"><time datetime="{{ blog_post.published_parsed|time_to_datetime|date:'Y-m-d' }}">{{ blog_post.published_parsed|time_to_datetime|date:'d F Y' }}</time></p>
                        <div class="text">
                            {{ blog_body|safe }}
                        </div>
                        <footer>
                            <p class="small tags">{% for tag in blog_post.tags %}{% if tag.term.0|lower == tag.term.0 %}<a href="http://blog.openpolis.it/argomenti/{{ tag.term|lower|slugify }}/" target="_blank">{{ tag.term }}</a>{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}</p>
                        </footer>
                    </article>
                    {% endfor %}

                </div>
            </div>
        </section>
        {% endif %}


  <div class="row-fluid">
    <div class="span12" id="lista-partiti">
      {% for partito in partiti %}
      <div class="barra-coalizione barra-coalizione-{{ partito.coalizione.slug }}">
        {% immagine_partito partito size='big' %}
      </div>
      {% endfor %}
    </div>
  </div>

{#  <div class="row-fluid">#}
{#    <div class="span12">#}
{#      {% for partito in partiti_dn %}#}
{#        <div class="pull-left barra-coalizione barra-coalizione-{{ partito.coalizione.slug }}">#}
{#          {% immagine_partito partito size='big' %}#}
{#        </div>#}
{#      {% endfor %}#}
{#    </div>#}
{#  </div>#}
  {% endif %}

{#  <div class="container">#}
{#    <div class="row-fluid">#}
{#      <div class="span3 linea-vert">Un progetto<p><a href="http://www.openpolis.it/"><img src="{{ STATIC_URL }}img/openpolis_logo.png" alt="Openpolis" /></a></p></div>#}
{#      <div class="span3 linea-vert">Realizzato da<p><a href="http://www.depp.it/"><img src="{{ STATIC_URL }}img/depp_logo.png" alt="Depp" /></a></p></div>#}
{#      <div class="span5 linea-vert">Supportato da<p><a href="http://www.mimesi.com/"><img src="{{ STATIC_URL }}img/mimesi_logo.png" alt="Mimesi" /></a><a href="http://www.top-ix.org/"><img src="{{ STATIC_URL }}img/topix_logo.png" alt="Top ix" /></a></p></div>#}
{#    </div>#}
{#  </div>#}
{% endblock %}


