.idea
.vagrant
.hostname
.system-updated
/.env
public/media/*
public/static/*
*.db
*.csv
*.DS_Store
dump
vsq/settings_local.py
log/logfile
*.py[c]
vsq/migrations/
initial_data.json
dati_iniziali.json
sqlite.db.dump.*

