Django>=1.9,<1.10

django-environ>=0.4.0,<0.5
django-debug-toolbar>=1.4,<1.5
django-extensions>=1.6,<1.7
django-model-utils>=2.5,<2.6
django-tinymce==2.3.0
Markdown>=2.6,<2.7
feedparser>=5.2,<5.3

docutils
pillow
psycopg2
pyzmq
