{% extends 'base.html' %}
{% block title %}Pagina non trovata{% endblock %}
{% block content %}
    <div class="sfondo-verde">
        <div class="container">
            <div class="hero-unit">
                <div class="row-fluid">
                    <div class="span12">
                        <h1>Pagina non trovata</h1>
                        <p>Non abbiamo trovato quello che cerchi.<br/>
                           Per tornare indietro fai clik sul tasto del browser <br/>
                           oppure torna alla home page del sito e ricomincia la navigazione.<br/>
                           <br/>
                           Grazie,<br/>
                           lo staff di Voisietequi
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}