<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - Voi siete qui - Openpolis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/liste.css" rel="stylesheet">
  <style>
    body {
      padding-top: 152px; /* 152px to make the container go all the way to the bottom of the topbar */
    }
    {% for C in COALIZIONI %}
      .img-coalition-{{ C.slug }} {
        border: 3px solid {{ C.colore }};
        border: 3px solid rgba({{ C.get_colore_rgb|join:',' }},1);
      }
      .barra-coalizione-{{ C.slug }} {
        background-color: {{ C.colore }};
      }
    {% endfor %}
  </style>
  <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
  {% block styles %}{% endblock %}

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.png">

  {% block header_scripts %}{% endblock %}
</head>

<body>
<div class="navbar navbar-fixed-top">
  <div class="testata">
    <div class="container">
      <img class="pull-left logo" src="{{ STATIC_URL }}img/voisietequi-logo.png" alt="Voi Siete Qui - Openpolis" />
      <h1 class="pull-left"> Elezioni politiche 2013</h1>
      <a href="http://www.openpolis.it/"><img class="strumento pull-right" src="{{ STATIC_URL }}img/strumento_openpolis.png" alt="OpenPolis" /></a>
    </div>
  </div>
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        Menu di navigazione
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li{% if 'homepage' in CURRENT_PAGE %} class="active"{% endif %}><a href="{% url homepage %}">Home</a></li>
          <li{% if 'questionario_utenti' == CURRENT_PAGE %} class="active"{% endif %}><a href="{% url questionario_utenti %}">Tu dove sei?</a></li>
          <li{% if 'party-positions' == CURRENT_PAGE %} class="active"{% endif %}><a href="{% url party-positions %}">Le posizioni delle liste elettorali</a></li>
          <li{% if 'topic-' in CURRENT_PAGE %} class="active"{% endif %}><a href="{% url topic-list %}">I 25 temi</a></li>
        </ul>
      </div><!--/.nav-collapse -->
      <div class="pull-right sharing">
        <ul class="nav">
          <li>
            <a href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% block content %}{% endblock %}

<div class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span4"><img class="img-small" src="{{ STATIC_URL }}img/voisietequi-logo-small.png" alt="Voi Siete Qui - Openpolis" />
        <p>È un test politico-elettorale che aiuta a capire quali partiti rappresentano di più le proprie posizioni politiche in base ai programmi elettorali e alle dichiarazioni pubbliche dei leader prima delle elezioni.</p>
        <p>È un progetto no-profit dell’<a href="http://www.openpolis.it/"><strong>Associazione Openpolis</strong></a>, ideato e realizzato con il contributo di <a href="http://www.depp.it/"><strong>DEPP</strong></a>.</p>
        <p><a href="/">Storia del progetto Voi siete qui</a></p></div>
      <div class="span4">
        <h4>FAQ</h4>
        <ul>
          <li><a href="/">Che significato ha il grafico delle distanze?</a></li>
          <li><a href="/faq/#1">Come sono stati selezionati i temi?</a></li>
          <li><a href="/">Come avete determinato le posizioni dei candidati?</a></li>
          <li><a href="/faq"><strong>Tutte le FAQ</strong></a></li>
        </ul>
        <h4>Commenta</h4>
        <p><a href="/"><strong>Commenta</strong></a> e discuti il progetto Voi siete qui insieme a noi.</p>
        <h4>Restiamo in contatto</h4>
        <p><a href="/"><strong>Scrivici</strong></a> per segnalazioni, suggerimenti, lamentele ma anche incoraggiamenti.</p>
      </div>
      <div class="span4">
        <div class="box-footer">
          <h4>Sostieni Openpolis!</h4>
          <p>Scegli di sostenere progetti utili, indipendenti e partecipati, un osservatorio costante e imparziale della politica italiana, una grande operazione di trasparenza.<br />
            Scegli di appartenere ad un’associazione di italiani di ogni orientamento politico e culturale che ha a cuore il futuro del paese.</p>
          <a class="btn btn-danger pulsanti" href="http://www.openpolis.it/sostienici/"><strong>Associati<br />ad Openpolis</strong></a>
          <a class="btn btn-danger pulsanti" href="http://www.openpolis.it/sostienici/dona/"><strong>Fai una<br />donazione</strong></a>
        </div>
      </div>
    </div>
    <div id="sub-footer" class="row-fluid">
      <ul>
        <li><a href="http://www.openpolis.it"><img src="{{ STATIC_URL }}img/footer/openpolis.png" alt="Associazione OpenPolis" title="Vai all'Associazione OpenPolis"></a></li>
        <li><a href="http://parlamento.openpolis.it"><img src="{{ STATIC_URL }}img/footer/openparlamento.png" alt="Open Parlamento" title="Open Parlamento"></a></li>
        <li><a href="http://politici.openpolis.it"><img src="{{ STATIC_URL }}img/footer/openpolitici.png" alt="Open politici" title="Open politici"></a></li>
        <li><a href="http://indice.openpolis.it/"><img src="{{ STATIC_URL }}img/footer/indiceproduttivita.png" alt="L'Indice di Produttività Parlamentare" title="L'Indice di Produttività Parlamentare"></a></li>
        <li><a href="http://www.openmunicipio.it/"><img src="{{ STATIC_URL }}img/footer/openmunicipio.png" alt="Open municipio" title="Open municipio" /></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>
