<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Voi Siete Qui - Openpolis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->

    <link href="{{ STATIC_URL }}css/earlybird/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/earlybird/bootstrap-responsive.css" rel="stylesheet">

	<!-- Icon -->
	<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />
	  
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr.custom.26887.js"></script>
		<noscript>
			<link rel="stylesheet" type="text/css" href="css/fallback.css" />
		</noscript>
        <!--[if lt IE 9]>
			<link rel="stylesheet" type="text/css" href="css/fallback.css" />
		<![endif]-->


  </head>
<body>
		 <div class="container">
              <section class="mainGrid">
              <div id="ri-grid" class="ri-grid ri-grid-size-2">
					<ul>
                        {% for partito in partiti %}
                        <li><a href="#"><img src="{{ partito.simbolo.url }}"/></a></li>
                        {% empty %}
                        <li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/1.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/2.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/3.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/4.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/5.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/6.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/7.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/8.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/9.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/10.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/11.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/12.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/13.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/14.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/15.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/16.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/17.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/18.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/19.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/20.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/21.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/22.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/23.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/24.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/25.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/26.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/27.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/28.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/29.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/30.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/31.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/32.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/33.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/34.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/35.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/36.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/37.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/38.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/39.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/40.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/41.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/42.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/43.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/44.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/45.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/46.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/47.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/48.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/49.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/50.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/51.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/52.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/53.gif"/></a></li>
						<li><a href="#"><img src="{{ STATIC_URL }}img/loghi_liste/54.gif"/></a></li>
                        {% endfor %}

					</ul>
				</div>
				</section>
                </div>
 
   <!-- Main container starts -->
    <div class="container">
        <div class="maincontainer">
            <div class="hero-unit">
            <!-- Logo Starts-->
            <img class="logo" src="{{STATIC_URL}}img/voisietequi-logo.png" alt="Voi Siete Qui - Openpolis" />
            <!-- End Logo -->
             <h1>{{ ELECTION_NAME }}</h1>
            <a href="http://www.openpolis.it/"><img src="{{STATIC_URL}}img/openpolis-logo.png" alt="OpenPolis" class="oplogo-small" /></a>
            <!-- Sub Title -->
             <p class="subH">Stiamo lavorando alla <strong>nuova versione del sito per le prossime {{ ELECTION_NAME }}</strong>.
             <br />Lascia la tua email, ti avvertiremo quando il nuovo sito andrà online, oppure rimani in contatto con noi seguendo la pagina
                 <a href="http://www.facebook.com/openpolis" target="_blank" class="links">Facebook</a> oppure il nostro account
                 <a href="http://www.twitter.com/openpolis" target="_blank" class="links">Twitter</a>.</p>
            </div>
           
             <!--Subscribe starts-->
             <div class="email-list">
             {% block content %}
                 <form id="subscribe" method="post" action="" name="subscribe">
                     {% csrf_token %}

                     {% if form.email.errors %}
                         <div class="row">
                             <div class="span4" style="color:red;font-weight: bold;">
                                 {{ form.email.errors }}
                             </div>
                         </div>
                     {% endif %}

                     <div id="semail" style="float:left;">
                         {{ form.email }}
                     </div>
                     <div>
                         <input type="submit" id="ssubmit" name="subscribe" value="SUBSCRIBE" class="submitbt" style=""/>
                     </div>
                 </form>
             {% endblock %}

            </div>
    	</div>
    </div>
       <div class="clearfix"></div>
      <!--Footer starts-->        
        <footer class="container">
            <div id="sub-footer" class="row">
                <ul>
                    <li>
                        <a href="http://www.openpolis.it">
                            <img src="{{STATIC_URL}}img/footers/openpolis.png" alt="Associazione OpenPolis" title="Vai all'Associazione OpenPolis">
                        </a>
                    </li>
                    <li>
                        <a href="http://parlamento.openpolis.it">
                            <img src="{{STATIC_URL}}img/footers/openparlamento.png" alt="Open Parlamento" title="Open Parlamento">
                        </a>
                    </li>
                    <li>
                        <a href="http://politici.openpolis.it">
                            <img src="{{STATIC_URL}}img/footers/openpolitici.png" alt="Open politici" title="Open politici">
                        </a>
                    </li>
                    <li>
                        <a href="http://indice.openpolis.it/">
                            <img src="{{STATIC_URL}}img/footers/indiceproduttivita.png"
                                 alt="L'Indice di Produttività Parlamentare" title="L'Indice di Produttività Parlamentare">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.openmunicipio.it/">
                            <img src="{{STATIC_URL}}img/footers/openmunicipio.png" alt="Open municipio" title="Open municipio" />
                        </a>
                    </li>
                </ul>            
            </div>    
        </footer>

    
   <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.transit.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.gridrotator.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.placeholder.js"></script>


<script type="text/javascript">

    $(document).ready(
            $(function() {
                $( '#ri-grid' ).gridrotator( {
                    rows		: 1,
                    columns		: 10,
                    animType	: 'fadeInOut',
                    animSpeed	: 700,
                    interval	: 400,
                    step		: 1,
                    w320		: {
                        rows	: 3,
                        columns	: 4
                    },
                    w240		: {
                        rows	: 3,
                        columns	: 4
                    }
                } );
            })
    )
</script>


</body>
</html>
