{% extends "base_partiti.html" %}


{% block content %}
    <div class="row">
        <div class="span8">
            <p>
                Gentile {{ nome_responsabile }},<BR/>
                la ringraziamo per aver risposto alle domande del questionario e per aver contribuito a
                questa nuova versione del sito
                <strong>Voi siete qui</strong> per le elezioni politiche 2013.
            </p>
            <p>
                Se ha necessità di mettersi in contatto con noi può scriverci a questo indirizzo
                <a href="mailto:associazione@openpolis.it">associazione@openpolis.it</a> o chiamarci allo 06.83608392
            </p>
            <p>
                Cordialmente,<br>
                <strong>la redazione di Openpolis</strong>
            </p>
        </div>
    </div>

   <div class="row">
        <div class="span8">
            <p class="partiti_title">
                Le posizioni della lista
                        <span class="lista_name">
                            {{ nome_lista}}
                        </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <p class="partiti_title">
                {{ answers }}
            </p>
        </div>
    </div>



{% endblock %}