/*!
 * Liste elettorali
 */

.img-circle-coalition {
    padding: 1px;
    margin: 2px;
    border: 3px solid #000;
    border: 3px solid rgba(0, 0, 0, 1);
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.img-circle-big { height: 74px; width:74px; }
.img-circle-normal { height: 54px; width:54px; }
.img-circle-small { height: 46px; width:46px; }

.barra-coalizione {
    width:10%;
    height: 84px;
    padding: 18px 0;
    margin: 0;
    text-align: center;
    border-right: 0 solid #ccc;
    border-bottom: 1px solid #fff;
    background-image: url("../img/liste/blocco_coalizione.gif");
    background-position: center top;
    background-repeat: no-repeat;
}

.table-rows td { border-top:1px solid #dddddd; }
.table-rows tr td:last-child { text-align: left; }

#pulsantiera button.btn.selected i { margin-left: 5px; }
#pulsantiera button.btn.selected {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    *background-color: #0044cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.pagination ul > li.hide {display: none;}

@media (max-width: 767px) {
    .thumbnail.grigio-tab { float:left; }
}

@media (max-width: 767px) { .barra-coalizione { width:20%; } }
