{% extends 'base.html' %}
{% load labels %}

{% block title %} La posizione {{ object.denominazione|prepend_of:object.gender|lower }}{% endblock %}

{% block header_scripts %}
    <script type="text/javascript">
        {% regroup risposte_partiti by partito__sigla as liste %}
        var coordinate = {{ coordinate|safe }};
        var risposte_altri_partiti = {
            {% for lista in liste %}
                '{{ lista.grouper }}': {
                    {% for item in lista.list %}'{{ item.domanda }}': {{ item.risposta_int }}{% if not forloop.last %},{% endif %}{% endfor %}
                }{% if not forloop.last %},{%  endif %}
            {% endfor %}
        };
        var risposte_partito = {
            {% for risposta in risposte_partito %}'{{ risposta.domanda }}': {{ risposta.risposta_int }}{% if not forloop.last %},{% endif %}{% endfor %}
        };
        var risposte_testuali_partito = {
            {% for risposta in risposte_partito %}'{{ risposta.domanda }}': "{{ risposta.risposta_txt|default_if_none:''|escapejs|linebreaksbr }}"{% if not forloop.last %},{% endif %}{% endfor %}
        };
        var partito = '{{ partito }}';
        var partiti = {
            {% for p in partiti %}
                '{{ p.sigla }}': {
                    'name': "{{ p.denominazione }}",
                    'url': "{{ p.get_absolute_url }}",
                    'coalizione': "{{ p.coalizione.slug }}",
                    'colore': "{{ p.coalizione.colore }}",
                    'simbolo_url': "{{ p.simbolo_url }}"
                }{% if not forloop.last %},{%  endif %}
            {% endfor %}
        };
    </script>
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        {% block generate_dynamic_content %}
            //quando la dimensione della finestra cambia, vengono ricalcolate le grandezze
            //del grafico

            $(document).ready(function() {
                if(browser_check()){
                    resize();
                    draw_graph(coordinate, partito);

                }
                posiziona_distanze_generiche(coordinate, partiti, partito);
                posiziona_label_risposte_partito(risposte_partito, risposte, label_risposte);
                posiziona_loghi(risposte_altri_partiti, risposte_partito, dist, partiti, risposte);
                posiziona_commenti(risposte_testuali_partito);
            });
        {% endblock %}
    </script>

    <script src="{{ STATIC_URL }}js/risposteUtente.js?"></script>
    <script src="{{ STATIC_URL }}js/dynamicPageContent.js"></script>
    <script src="{{ STATIC_URL }}js/utils.js"></script>
    <script src="{{ STATIC_URL }}js/underscore.min.js"></script>
    <script src="{{ STATIC_URL }}js/d3.min.js"></script>
    {#script for the final graph #}
    <script src="{{ STATIC_URL }}js/graph.utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/force_labels.js"></script>

{% endblock %}


{% block content %}
<div class="sfondo-verde">
  <div class="container">
    <div class="testata-interna"><h1>La posizione {{ "<strong>"|add:object.denominazione|prepend_of:object.gender|add:"</strong>"|lcfirst }}</h1></div>
  </div>
</div>

<div class="sfondo-grigio">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
          <div class="grafico_background"  style="background-image: url('{{ STATIC_URL }}img/grafico/bg_liste.png');">
              <div class="grafico" id="grafico" style=""></div>
              <div id="browser_issue">
                  <p>
                      Spiacenti, il browser che hai installato non supporta la visualizzazione del grafico di Voi siete qui.
                  </p>
                  <p>
                      Ti consigliamo di scaricare una versione pi&ugrave; aggiornata del tuo browser.
                  </p>
              </div>
          </div>
      </div>
      <div class="span5 offset1"><div class="box-listeele">
        <div class="row-fluid">
          <div class="span4">
            {% immagine_partito object size='big' %}
          </div>
          <div class="span8">
            <h4>{{ object.denominazione }} {% if SHOW_PARTY_COALITION %}<br>{{ object.sigla|upper }}{% endif %}</h4>
            {% if object.sito %}<a href="{{ object.sito }}" target="_blank" title="Sito di {{ object.denominazione }}">{{ object.sito }}</a><br>{% endif %}
            {% if object.coalizione and SHOW_PARTY_COALITION %}{{ PARTY_COALITION }}: {{ object.coalizione.nome }}<br>{% endif %}
            {% if object.leader %}{{ PARTY_LEADER }}: {{ object.leader }}<br>{% endif %}
            {% if object.twitter_user %}
              <a href="https://twitter.com/{{ object.twitter_user }}" class="twitter-follow-button" data-show-count="false" data-lang="it">Segui @{{ object.twitter_user }}</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              <br>
            {% endif %}
            {% if object.twitter_hashtag %}
              <a href="https://twitter.com/intent/tweet?button_hashtag={{ object.twitter_hashtag }}" class="twitter-hashtag-button" data-lang="it" data-related="openpolis" data-url="{{ CURRENT_PAGE }}">La posizione {{ object.denominazione|prepend_of:object.gender|lower }}</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              <br>
            {% endif %}
            {% if object.facebook_url %}<a href="{{ object.facebook_url }}">Pagina facebook</a>{% endif %}
            <br>
            {% if object.nonorig %}
                Non ha risposto a voisietequi. Il posizionamento {{ PARTY_TERM|prepend_the|lower }} è stato elaborato da openpolis.
            {% else %}
                Ha risposto direttamente a voisietequi
            {% endif %}
          </div>
        </div>
      </div>
        <ul class="pager">
          <li><a href="{% url 'party-positions' %}" class="navigapage">{% genderize 'Tutte' 'Tutti' %} {{ PARTY_TERM_PLURAL|prepend_the_plural|lower }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="contenuto">
    <h4>La distanza tra {{ object.denominazione|prepend_the:object.gender|lcfirst }}
        e {{ PARTY_TERM_PLURAL|prepend_the_plural|lower }}, {% genderize 'dalla più vicina alla più lontana' 'dal più vicino al più lontano' %}</h4>
    <div class="tema0">

      <table class="table table-condensed table7">
        <thead>
        <tr>
          <th class="bianco-tab">Posizione {{ PARTY_TERM|lower }}</th>
          <th colspan="6" class="bianco-tab">La distanza {% genderize 'dalle altre' 'dagli altri' %} {{ PARTY_TERM_PLURAL|lower }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="grigio-tab">&nbsp;</td>
            <td colspan="6" class="nero-tab">
                <span class="pull-left">+ vicino</span>
                <span class="pull-right">+ lontano</span>
            </td>
        </tr>
        <tr>
          <td class="grigio-tab">{% immagine_partito object size='normal' %}</td>
          <td class="verde01-tab"></td>
          <td class="verde02-tab"></td>
          <td class="verde03-tab"></td>
          <td class="verde04-tab"></td>
          <td class="verde05-tab"></td>
          <td class="verde06-tab"></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<div class="container">
  <div class="contenuto">
{#    <h4>Tema per tema, le liste vicine e lontane a {{ nome_partito }}</h4>#}
    <h4>Tema per tema, {{ PARTY_TERM_PLURAL|prepend_of_plural|lower }} {% genderize 'vicine e lontane' 'vicini e lontani' %} a {{ nome_partito }}</h4>
    <div class="accordion" id="accordion">

      {% for domanda in domande %}
      <div class="accordion-group tema">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" {# data-parent="#accordion" #} href="#collapse{{ domanda.pk }}">
            <div class="row-fluid">
              <div class="span1"><div class="tema-num"><strong>{{ domanda.ordine }}/</strong>{{ QUESTIONS_COUNT }}</div></div>
              <div class="span11"><h1>{{ domanda.testo_html|safe }}</h1></div>
            </div>
          </a>
        </div>
        <div id="collapse{{ domanda.pk }}" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="visible-phone"><strong>Posizione {{ PARTY_TERM|lower }}:</strong> <span class="posizione-responsive"></span></div>
            <table class="table table-condensed table7">
              <thead>
              <tr>
                <th class="bianco-tab hidden-phone">Posizione {{ PARTY_TERM|lower }}</th>
                <th colspan="6" class="bianco-tab">La distanza {% genderize 'dalle altre' 'dagli altri' %} {{ PARTY_TERM_PLURAL|lower }}</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="grigio-tab hidden-phone">&nbsp;</td>
                <td colspan="6" class="nero-tab">
                  <span class="pull-left">+ vicino</span>
                  <span class="pull-right">+ lontano</span>
                </td>
              </tr>
              <tr class="symbols">
                <td class="grigio-tab hidden-phone"></td>
                <td class="verde01-tab"></td>
                <td class="verde02-tab"></td>
                <td class="verde03-tab"></td>
                <td class="verde04-tab"></td>
                <td class="verde05-tab"></td>
                <td class="verde06-tab"></td>
              </tr>
              </tbody>
            </table>

            <div class="commento-lista" style="display:none">
                <strong>Commento {{ PARTY_TERM|prepend_of|lower }}</strong>
                <div class="approfondimento">
                </div>
            </div>

          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}
