{% extends 'vsq/risultato_utente.html' %}

{% block title %}Tu dove sei?{% endblock %}

{% block addthis_script %}
<script>
var addthis_share = {
       templates: {
           twitter: 'Tu dove sei? {% templatetag openvariable %}url{% templatetag closevariable %} #VsQ14 #europee',
       }
    };
</script>
{% endblock %}
{% block content %}
  <!-- START questionario-domande -->
  <div id="domande-questionario" style="min-height: 500px;">
    <div class="sfondo-verde">
      <div class="container">
        <div class="testata-interna">
          <div class="row-fluid">
            <div class="span2"><h1>Tu dove sei?</h1></div>
            <div class="span10">
              <div class="pagination pagination-small" id="navigatore">
                <ul>
                  <li class="hide" id="navigate-left"><a href="#"><i class="icon-chevron-left"></i></a></li>
                  {% for domanda in domande %}
                  <li class="{% if forloop.first %}posizione{% else %}disabled{% endif %}">
                    <span data-question-id="{{ domanda.pk }}">{{ domanda.ordine }}</span>
                  </li>
                  {% endfor %}
                  <li class="hide" id="navigate-right"><a href="#"><i class="icon-chevron-right"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    {% for domanda in domande %}

    <div class="domanda{% if domanda.ordine > 1 %} hide{% endif %}" data-question-id="{{ domanda.pk }}">

      <div class="contenuto">
        <div class="container">
          <div class="row-fluid">
            <div class="span3">
              <div class="box-num-domande pull-right">
                Domanda<br><strong>{{ domanda.ordine }}/</strong>{{ domande|length }}<br>&nbsp;
              </div>
            </div>
            <div class="span9">
              <div class="domande">
                <h1>{{ domanda.testo_html|safe }}</h1>
                {% if domanda.approfondimento %}
                <button type="button" class="btn dropdown-toggle" data-toggle="collapse" data-target="#approfondisci-{{ domanda.pk }}">
                  Approfondisci
                  <span class="caret"></span>
                </button>
                <div id="approfondisci-{{ domanda.pk }}" class="collapse">
                  <div class="approfondimento">
                    {{ domanda.approfondimento_html|safe }}
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    {% endfor %}

    <div class="contenuto risposta" id="pulsantiera">
      <div class="container">
        <div class="row-fluid">
          <div class="span2">
            <button class="btn btn-ok btn-mf" data-value="3" type="button">Molto Favorevole</button>
          </div>
          <div class="span2">
            <button class="btn btn-ok btn-f" data-value="2" type="button">Favorevole</button>
          </div>
          <div class="span2">
            <button class="btn btn-ok btn-tf" data-value="1" type="button">Tendenzialmente Favorevole</button>
          </div>
          <div class="span2">
            <button class="btn btn-ok btn-tc" data-value="-1" type="button">Tendenzialmente Contrario</button>
          </div>
          <div class="span2">
            <button class="btn btn-ok btn-c" data-value="-2" type="button">Contrario</button>
          </div>
          <div class="span2">
            <button class="btn btn-ok btn-mc" data-value="-3" type="button">Molto Contrario</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- END questionario-domande -->

  <!-- START questionario-utente -->
  <div id="utente-questionario" class="hide" style="min-height: 500px;">

    <div class="sfondo-verde">
      <div class="container">
        <div class="testata-interna"><h1>Salva il test</h1></div>
      </div>
    </div>

    <div class="contenuto">
      <div class="container">
        <div class="row-fluid">
          <div class="span3">
            <div class="box-num-domande pull-right">
              <img class="ico-salva" src="{{ STATIC_URL }}img/icona-salva.png" alt="Salva">
            </div>
          </div>
          <div class="span9">
            <form>
              <br>
              <p>Inserisci il tuo nome/nickname per vederlo sul grafico</p>
              <div class="control-group">
                <input name="name" type="text" class="span7 input-block-level" placeholder="Il tuo nome o nickname">
              </div>
              <div class="control-group">
                <input name="email" type="text" id="id_email" class="span7 input-block-level" placeholder="La tua email">
              </div>

              <label class="checkbox">
                <input name="privacy_accept" id="id_privacy_accept" type="checkbox">
                  presto il consenso al trattamento dei miei dati personali,<br/> ai sensi del D.lgs. 196 del 30 giugno 2003
                  secondo le modalità espresse in <a href="{% url 'privacy' %}" target="_blank">questa informativa</a>.
              </label>
              <label class="checkbox">
                  <input name="wants_newsletter" id="id_wants_newsletter" type="checkbox"> Voglio essere informato sulle prossime iniziative di
                  <a href="http://www.openpolis.it" target="_blank">Openpolis</a>.
              </label>
              <button class="btn btn-large btn-danger" type="submit">Vai ai risultati</button>
                <span class="text-warning hide">C'è un problema nel salvare i tuoi dati, prova ad inserirli di nuovo.</span>
                <span class="text-error hide">Non è stato possibile risolvere il problema, <a href="#contacts" style="text-decoration: underline">scrivici</a> per aiutarci a risolverlo.</span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hide" id="risultato-questionario">
    {{ block.super }}
  </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/questionario.js"></script>
  <script type="text/javascript">
    var Q;
    var SITE_URL = '{{ SITE_URL }}';

    //quando la dimensione della finestra cambia, vengono ricalcolate le grandezze
    //del grafico
    $(window).on("resize", function() {
        if(browser_check()){
            clearTimeout(500);
            resize();
        }

    });

    $(document).ready(function(){
      //if ($('.domanda').length != {{ domande|length }}) {
      //    alert('Il questionario potrebbe non essere stato caricato correttamente. Ricaricare la pagina e in caso di un nuovo errore contattaci!')
      //    return;
      //}
      Q = new Questionario('{{ COMPUTER_URL }}computation/','{{ ELECTION_CODE }}', function(results, data_json) {
          log('results received', results, data_json);

          $('#nome-utente').text(data_json.user_data['name']);

          $('#utente-questionario').hide();
          $('#risultato-questionario').show();

          window.utente = {
              'nickname': data_json.user_data['name'],
              'email': data_json.user_data['email'],
              'user_key': results['code']
          };

          if(browser_check()){
              resize();
              draw_graph(results.results, "user", true);
          }
          posiziona_distanze_generiche(results.results, partiti);
          posiziona_label_risposte_utente(data_json.user_answers, risposte, label_risposte);
          posiziona_loghi(risposte_partiti, data_json.user_answers, dist, partiti, risposte);

          var permalink = SITE_URL + 'risultato/' + results['code'] +'/';
          $('#permalink').val( permalink );
          var download_link = $('#download-link');
          download_link.attr('href', download_link.attr('href').replace('.png', results['code'] + '.png') );
          var el = $('#share-page');
          $.each(['facebook','twitter','google_plusone_share','email','compact'],
                  function(ix, social) { el.append('<a class="addthis_button_'+social+'" />');  });
          // you are the first... no need counter: el.append('<a class="addthis_counter addthis_bubble_style" />');
          addthis.toolbox('#share-page', addthis_config, { url: permalink });
          var embed_code_textarea = $('#embed_code');
          embed_code_textarea.val(
                  embed_code_textarea.val().replace(/src="([^"])+"/gi,'src="'+permalink+'?embed=si"')
          );

          caricamento_social_share();
      });
    });
  </script>

{% endblock %}
{% block generate_dynamic_content %}{% endblock %}
{% block share_block %}{% endblock %}
