{% extends 'base.html' %}


{% block title %}La tua posizione{% endblock %}

{% block addthis_script %}
<script type="text/javascript">
    var addthis_share = {
       templates: {
           twitter: 'La mia posizione {% templatetag openvariable %}url{% templatetag closevariable %} {{ HASHTAG }}',
       }
    }
</script>
{% endblock %}
{% block header_scripts %}
    {% regroup risposte_partiti by partito__sigla as liste %}
    <script type="text/javascript">
      {% if utente %}
          var utente = {
              'nickname': '{{ utente.nickname}}',
              'email': '{{ utente.email }}',
              'user_key': '{{ utente.user_key }}'
          };
          var coordinate = {{ coord_utente|default_if_none:'{}'|safe }};
          var risposte_utente = {
          {% for ru in risposte_utente %}{{ ru.domanda.pk }}: {{ ru.risposta_int }}{% if not forloop.last %},{%  endif %}{% endfor %}
          };
      {% endif %}

      var risposte_partiti = {
          {% for lista in liste %}
              '{{ lista.grouper }}': {
                {% for item in lista.list %}'{{ item.domanda }}': {{ item.risposta_int }}{% if not forloop.last %},{%  endif %}{% endfor %}
              }{% if not forloop.last %},{%  endif %}
          {% endfor %}
      };
      var partiti = {
          {% for p in partiti %}
            '{{ p.sigla }}': {
              'name': "{{ p.denominazione }}",
              'url': "{{ p.get_absolute_url }}",
              'coalizione': "{{ p.coalizione.slug }}",
              'colore': "{{ p.coalizione.colore }}",
              'simbolo_url': "{{ p.simbolo_url }}"
            }{% if not forloop.last %},{%  endif %}
          {% endfor %}
      }
    </script>
{% endblock %}




{% block scripts %}
    <script type="text/javascript">
        var clip, spinner = $('<img />').attr('src','{{ STATIC_URL }}img/ajax-loader.gif');
        caricamento_social_share = function() {
            clip = new ZeroClipboard( $('#copy-button'), {
                moviePath: "{{ STATIC_URL }}js/ZeroClipboard.swf"
            } );
            clip.on( 'mouseover', function ( client, args ) {
                $('#copy-button').addClass('btn-info');
            });
            clip.on( 'mouseout', function ( client, args) {
                $('#copy-button').removeClass('btn-info');
            } );
            clip.on( 'complete', function ( client, args ) {
                $('#copy-button').addClass('btn-success');
            });
            clip.reposition();

            $(".code-autoselect").on("mouseup", function () {
                $(this).select();
            });

            $('#download-link').click(function(){
                $(this).after(spinner);
                setInterval( function() {
                    console.log('stop', spinner);
                    spinner.remove();
                },5500);
            });
        };

        {% block generate_dynamic_content %}


            $(document).ready(function() {
                if(browser_check()){
                    resize();
                    draw_graph(coordinate,"user", true);

                }
                caricamento_social_share();
                posiziona_distanze_generiche(coordinate, partiti);
                posiziona_label_risposte_utente(risposte_utente, risposte, label_risposte);
                posiziona_loghi(risposte_partiti, risposte_utente, dist, partiti, risposte);
            });



        {% endblock %}
    </script>

    <script src="{{ STATIC_URL }}js/dynamicPageContent.js"></script>
    <script src="{{ STATIC_URL }}js/risposteUtente.js?"></script>
    <script src="{{ STATIC_URL }}js/utils.js"></script>
    <script src="{{ STATIC_URL }}js/underscore.min.js"></script>
    <script src="{{ STATIC_URL }}js/d3.min.js"></script>
    {#script for the final graph #}
    <script src="{{ STATIC_URL }}js/graph.utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/force_labels.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/ZeroClipboard.min.js"></script>

{% endblock %}



{% block content %}

    <!-- H1 su sfondo verde -->
    <div class="sfondo-verde">
        <div class="container">
            <div class="testata-interna"><h1>La posizione di <strong id="nome-utente">{{ utente.nickname }}</strong></h1></div>
        </div>
    </div>

    <!-- Grafico su sfondo grigio e condivisione -->
    <div class="sfondo-grigio">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <div class="grafico_background"  style="background-image: url('{{ STATIC_URL }}img/grafico/bg_user.png');">
                        <div class="grafico" id="grafico" style="" data-user-hash="{{ utente.user_key }}"></div>
                        <div id="browser_issue">
                            <p>
                                Spiacenti, il browser che hai installato non supporta la visualizzazione del grafico di Voi siete qui.
                            </p>
                            <p>
                                Ti consigliamo di scaricare una versione pi&ugrave; aggiornata del tuo browser.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span4 offset2">
                    <div class="box-bianco">
                        <br>
                        <h4>Salva l'immagine con il tuo posizionamento</h4>

                        <a role="button" id="download-link" class="btn" href="http://webshots.openpolis.it/vsq-screenshots/{{ utente.user_key }}.png"><i class="icon-download"></i> Scarica</a>

                        <hr>
                        <div class="controls">
                            <h5>Copia il link a questa pagina e condividilo.</h5>
                            <div class="input-append" id="copy-button-container">
                                <input id="permalink" class="code-autoselect span8" type="text" value="{{ CURRENT_URL }}" readonly="readonly">
                                <button id="copy-button" class="btn" data-clipboard-target="permalink">Copia</button>
                            </div>
                        </div>

                        <hr>
                        <h5>Condividi con i tuoi amici</h5>
                        <!-- AddThis Button BEGIN -->
                        <div id="share-page" class="addthis_toolbox addthis_default_style addthis_32x32_style">
                            {% block share_block %}
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_google_plusone_share"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            {% endblock share_block %}
                        </div>

                        <hr>
                        <h5 data-toggle="collapse" data-target="#pubblica" style="text-decoration: underline; cursor: pointer;">Codice da incorporare al tuo sito.</h5>
                        <div id="pubblica" class="collapse">
                            <textarea name="embed_code" id="embed_code" class="span12 code-autoselect" style="height: 60px; font-size: 12px; font-family: Verdana, sans-serif; line-height: 12px;"><iframe width="560" height="356" src="{{ CURRENT_URL }}?embed=1" frameborder="0"></iframe></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block distances %}
        <!-- tabella distanze complessive utente-partito -->
        <div class="container">
            <div class="contenuto">
                <h4>La distanza tra te e le liste elettorali dalla più vicina alla più lontana</h4>
                <div class="tema0">

                    <table class="table table-condensed table7">
                        <thead>
                        <tr>
                            <th class="bianco-tab">Tu</th>
                            <th colspan="6" class="bianco-tab">La distanza dalle altre liste</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="grigio-tab">&nbsp;</td>
                            <td class="nero-tab">+ vicino</td>
                            <td class="nero-tab">&nbsp;</td>
                            <td class="nero-tab">&nbsp;</td>
                            <td class="nero-tab">&nbsp;</td>
                            <td class="nero-tab">&nbsp;</td>
                            <td class="nero-tab">+ lontano</td>
                        </tr>
                        <tr>
                            <td class="grigio-tab">
                                <img src="{{ STATIC_URL }}img/grafico/cross.png" width="60" height="60"/>
                            </td>
                            <td class="verde01-tab"></td>
                            <td class="verde02-tab"></td>
                            <td class="verde03-tab"></td>
                            <td class="verde04-tab"></td>
                            <td class="verde05-tab"></td>
                            <td class="verde06-tab"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <!-- tabelle distanze tematiche utente-partito -->
        <div class="container">
            <div class="contenuto">
                <h4>Tema per tema le liste che ti sono vicine e quelle che ti sono lontane</h4>
                <div class="accordion" id="accordion">

                    {% for domanda in domande %}
                        <div class="accordion-group tema">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" {# data-parent="#accordion" #} href="#collapse{{ domanda.pk }}">
                                    <div class="row-fluid">
                                        <div class="span1"><div class="tema-num"><strong>{{ domanda.ordine }}/</strong>{{ QUESTIONS_COUNT }}</div></div>
                                        <div class="span11"><h1>{{ domanda.testo_html|safe }}</h1></div>
                                    </div>
                                </a>
                            </div>
                            <div id="collapse{{ domanda.pk }}" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <div class="visible-phone"><strong>La tua posizione:</strong> <span class="posizione-responsive"></span></div>
                                    <table class="table table-condensed table7">
                                        <thead>
                                        <tr>
                                            <th class="bianco-tab hidden-phone">La tua posizione</th>
                                            <th colspan="6" class="bianco-tab">La distanza dalle altre liste</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="grigio-tab hidden-phone">&nbsp;</td>
                                            <td class="nero-tab">+ vicino</td>
                                            <td class="nero-tab">&nbsp;</td>
                                            <td class="nero-tab">&nbsp;</td>
                                            <td class="nero-tab">&nbsp;</td>
                                            <td class="nero-tab">&nbsp;</td>
                                            <td class="nero-tab">+ lontano</td>
                                        </tr>
                                        <tr class="symbols">
                                            <td class="grigio-tab hidden-phone"></td>
                                            <td class="verde01-tab"></td>
                                            <td class="verde02-tab"></td>
                                            <td class="verde03-tab"></td>
                                            <td class="verde04-tab"></td>
                                            <td class="verde05-tab"></td>
                                            <td class="verde06-tab"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    {% endblock %}

{% endblock %}
